:root {
  --color-base: #202428;
  --color-main: #30363C;
  --color-text: #D0D8E0;
  --color-accent: #55EEAC;
  --color-highlight: #66FFBD;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--color-base);
    font-family: 'Press Start 2P', cursive;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 50px;
    background-color: var(--color-accent);
}

img {
    width: 224px;
    height: 224px;
    margin: auto;
    
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

canvas {
    width: 512px;
    height: auto;
  
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

br {
  margin: 20px;
}

#mainBody {
    height: auto;
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: var(--color-main);
    color: var(--color-text);
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

.favorited {
    color: var(--color-accent);
}

.unfavorited {
    color: var(--color-text);
}

.pixt {
    display: inline-block;
    width: 256px;
    height: 320px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: var(--color-base);
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: var(--color-base);
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--color-accent);
    transition: background-color 0.25s ease;
}

.navlink a:hover {
    transition: background-color 0.25s ease;
    background-color: var(--color-highlight);
}
